.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #005b96;
    padding: 1rem;
    color: white;
    height: 55px;
    width: 100vw;
}

.navbar {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.entry {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;  
  padding: 40px 0;
  width: 600px;
}

.entry--image {
  width: 125px;
  height: 168px;
  border-radius: 5px;
}

.entry--content {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  padding: 10px 0
}

.entry--location {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.entry--date {
    font-weight: 700;
  }
  
.the-effin-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }